body {
    min-height: 100vh; 
    background: url("../images/backgroundplant.jpg") no-repeat center center fixed; 
    flex-flow: column;
    background-size: cover;
    margin:0px;
    padding: 0px;
    display:flex;

    
}
body p{
    
}
body h1 {
    text-align: center;
    color: white;
}

*{
    box-sizing: border-box;

  
}
.wrapper{
    flex:1;
}
.wrapper-text {
    text-align: center;
    color:black;
    margin: 0px 300px 75px 300px;
    background-color: #f8f3e6;
    border-radius: 10px;
    padding-bottom: 50px;
    font-family:"Roboto", sans-serif;

}

header {
   /* background: gray; /*image is PNG so gray background don't forget incase of better image*/
    /*background-image:url("../images/plants-border-png-1.png");*/
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.8) 100%);
   
   height: 100px;
   text-align: center;
   background-position: relative;
   background-size: 100%;
   border-radius:10px; /*change when you got better border idea, image*/
   position: relative;
   margin: 0px 300px 75px 300px;
    
}
header a {
    text-decoration: none;
    color:white;
    margin-top:12px; /*change for text margin top in header*/
}
header .logo a {
    background-image: url("../images/mainlogo.png");
    display:inline-block;
    height:120px;
    width: 120px;
    text-indent: -999999px;
    background-size: 120px;
    background-repeat: no-repeat;
    position: relative;
    top: -60px;
}
ul.desktop li{
    margin: 10px;
    padding:10px;
    list-style-type: none;
    display: inline-block;
    
   /* background: black; /*remove to make the black box go away*/
  
}
.ptemp { /*ptemp is used to have control of the body paragraphs for beter design view*/
    text-align: left;
}


ol 
{
  padding-left:100px;  
  list-style-type: upper-alpha; /*Alphabet list for ptemp body*/
}
li {

    margin-right:20px; 
    text-decoration: none;
    color: black;
    text-align: left;
    

}
.lifix{
    padding-left: 15px;
    list-style-type: decimal;
}



.login-page {
    width: 360px; /*div size width*/
    padding: 0% 0 0; /*10% down*/
    margin:auto;
}
.form{
    position: relative;
    z-index: 1;
    background: rgba(39, 165, 204, 0.8);
    max-width: 360px;
    padding: 45px;
    text-align:center;
    margin: 0 auto 100px;
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0; /* removes the border completely */
    margin: 0 0 15px;
    box-sizing: border-box;
    font-size: 14px;



}
.form button {
    font-family:"Roboto", sans-serif;
    text-transform:uppercase;
    outline: 0;
    background: #4caf50;
    width:100%;
    border: 0;
    padding: 15px;
    color:#ffffff;
    font-size: 14px;
    cursor: pointer;
}
/*form small animation button*/
.form button:hover,.form button:active{
    background:#43A047;
}
.form .message {
    margin: 15px 0 0;
    color: aliceblue;
    font-size: 14px;
}
.form .message a {
    color: #4caf50;
    text-decoration: none;
}
.form .register-form {
display: none;
}
.position {
    
    color: aliceblue;
    border-bottom-color:solid 2px gray;    
    
}
.contactset{
    margin-top: 1.5cm;
    margin-left: 22.5cm;
    color:white;
    position: relative;
    z-index: 1;
    background: rgb(76, 175, 80);
    max-width: 360px;
    padding: 45px;
    text-align:center;
    margin: 0 auto 100px;

}
.contact-titles-align
{
    color:white;
    text-align: center;
}
h1{
   color:white;
}
.contactset .commentbox {
   width:177px;
   height:150px;
}
.gallery {
    padding: 10px 300px;

}
.gallery img {
transition: 1s;
padding: 1px;
margin: 20px;
width: 200px;
height: 200px;
border:0.1px solid #021a40;
object-fit: cover;

}
.gallery img:hover {
filter: grayscale(100%);
transform: scale(1.1);
}


footer{
    background: black;
    padding: 0px 20px;
    color:white;
    text-align:center;
    font-size:14px;
    bottom: 0; /*keep 0 for permanent footer at bottom, keep auto for bug fix on index.html*/
    width: 100%;
    height: 7rem;            /* Footer height */
    overflow:hidden;
    left: 0px;
    
}
footer.desktop li{
    display: none;
}
.footer_column {
    display: inline-block;

}
.footer_fixer{
    text-decoration: none;
    color:white;
    
}
/*font-awesome-bootstrap fix*/
.s-m{
    margin: auto;
    justify-content: space-around;
    display: flex;
    max-width: 175px; /*Change for the "inner-margin"*/
    font-size: 17.5px; /*change for smaller font icon as main logo-picture in the font awesome*/
  }
  .s-m a{
    text-decoration: none;
    color: #f1f1f1;
    width: 45px;
    height: 45px;
    text-align: center;
    transition: 0.4s all;
    line-height: 45px;
    cursor: pointer;
    background: #314652;
    border-radius: 50%;
    
  }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  
  /* header mobile is default turned off until max-width is reached */
  header .mobile{
      display:none;
  }
  /* mobile friendly time ;w;*/
  @media screen and (max-width: 660px) {
      header .mobile {
          display:inline-block;
      }
      header .desktop {
          display: none;
      }
  }
  /* this media screen is for the logo on mobile*/
  @media screen and (max-width: 662px){
      header {
          height:200px;
          background-position: 0 -0px;
      }
  }